.header{
    background-color:#5D3FA0;
    color:#FFF;
    padding:5% 0 5% 0;
    height:100%;
}
.header .title{
	border-bottom: 1px solid #cdbfe3;
	font-size:40px;
	margin-bottom:5%;
}

.img-circle{
	width:40%;
	display:block;
	cursor:pointer;
}
.img-circle:hover{
	border:5px solid;
}
.arrow {
	text-align:center;
	font-size:40px;
	opacity:0;
}
.name{
	text-align:center;
	font-size:20px;
}

.automargin{
margin:0 auto;
}
